---
---

@import "fonts";
@import "colours";
@import "button";
@import "transitions";

body {
  font: 125%/16px museo300;
  color: $white;
  background-color: $black;
  margin: 0;
  padding: 0;
}

#guru {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  overflow: hidden;

  #logo {
    position : absolute;
    left: 0;
    right: 0;
    top: 0;
    text-align: center;
    margin: 0;
  }

  #abort {
    position: absolute;
    width: 80px;
    height: 79px;
    background: url(/img/restart.png) no-repeat;
    background-size: cover;
  }

  #start,
  #restart,
  #next,
  #intro,
  .question,
  #results,
  #finished,
  #update,
  #timer {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;
  }

  #start,
  #restart,
  #update,
  #next {
    @include button;
  }

  .inactive {
    #restart,
    #next,
    .question,
    #results,
    #finished,
    #abort,
    #timer {
      @include hidden;
    }
  }
  .active {
    #start,
    #intro,
    #results,
    #finished,
    #restart {
      @include hidden;
    }
  }
  .complete {
    #next,
    #intro,
    .question,
    #abort,
    #start {
      @include hidden;
    }
  }
}

@import "ipad";

// @media only screen and (min-device-width : 768px) and (max-device-width : 1024px)  {
  // ipad
// }

@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px) {
  // iPhone 5 in portrait & landscape
  @import "iphone5";
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
  // iPhone 2G-4S in portrait & landscape
  @import "iphone4";
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : landscape) {
  // iPhone 5 in landscape
  @import "iphone5-landscape";
}