  #guru {

    #start,
    #next,
    #update,
    #restart  {
      bottom: 100px;
      width: 593px;
      height: 199px;
      font-size: 83px;
    }
    #intro {
      top: 430px;
      width: 542px;
      font-size: 20px;
      line-height: 30px;
    }
    #update {
      top: 10px;
      bottom: auto;
      background-color: $dark-blue;
      font-size: 30px;
      height: 70px;
      &:active {
        background-color: $yellow;
      }
    }
    .question, #finished {
      top: 420px;
      height: 300px;
      font-size: 60px;
      line-height: 72px;
      width: 700px;
    }
    .question {
      top: 0;
      bottom: 0;
      display: table;
      height: 100%;
    }
    .question span {
      display: table-cell;
      vertical-align: middle;
    }

    .inactive {
      #logo {
        img {
          width: 511px;
          height: 173px;
        }
        top: 109px;
      }
      #start {
        background-color: $yellow;
        &:active {
          background-color: $dark-blue;
        }
      }
      #question {
        @include hidden;
        left: 1000px;
        right: auto;
        width: 0;
      }
    }

    #timer {
      top: 159px;
      font-size: 121px;
      line-height: 121px;
      color: $yellow;
    }

    .active,
    .complete {
      #logo {
        img {
          width: 241px;
          height: 82px;
        }
        top: 32px;
      }
      #next {
        background-color: $blue;
        font-size: 61px;
      }
      #intro {
        left: -1000px;
        right: auto;
      }
    }
    @mixin question-offscreen-right {
      left: 100%;
      right: auto;
    }
    @mixin question-offscreen-left {
      left: -100%;
      right: auto;
    }
    .active.clock-0 {
      #question1 {
        @include question-offscreen-right;
      }
      #question2 {
        @include question-offscreen-left;
      }
    }
    .active.clock-1 {
      #question0 {
        @include question-offscreen-left;
      }
      #question2 {
        @include question-offscreen-right;
      }
    }
    .active.clock-2 {
      #question0 {
        @include question-offscreen-right;
      }
      #question1 {
        @include question-offscreen-left;
      }
    }

    .active {
      #abort {
        right: 50px;
        top: 32px;
      }
    }
    .complete {
      #restart {
        background-color: $dark-blue;
        &:active {
          background-color: $yellow !important;
        }
      }
      #finished {
        color: $yellow;
        height: 100px;
      }
      #results {
        top: 520px;
        font-size: 42px;
        line-height: 50px;
        color: $white;
        width: 667px;
      }
      #timer {
        color: $yellow;
      }
    }
  }
