#guru {
  #start,
  #next,
  #update,
  #restart  {
    bottom: 20px;
    width: 90%;
    height: 70px;
    font-size: 43px;
  }
  .inactive {
    #logo {
      top: 20px;
      img {
        width: 90%;
        height: auto;
        bottom: auto;
      }
    }
    #intro {
      font-size: 25px;
      line-height: 125%;
      width: 90%;
    }
  }
  .active, .complete {
    #logo {
      top: 15px;
      img {
        width: 50%;
        height: auto;
      }
    }
    #timer {
      top: 80px;
      font-size: 60px;
      line-height: 60px;
    }
    #restart,
    #next {
      font-size: 33px;
    }
    .question {
      width: 90%;
      font-size: 30px;
      line-height: 125%;
    }
    #abort {
      top: 20px;
      height: 70px;
      img {
        width: 30px;
        left: auto;
        right: 10px;
      }
    }
  }
  .complete {
    #finished,
    #results {
      width: 90%;
      font-size: 40px;
      line-height: 125%;
      top: 200px;
    }
    #results {
      font-size: 24px;
      top: 280px;
    }
  }
}