@mixin hidden {
  visibility: hidden;
  // display: none;
}

@mixin transition($props...) {
  transition: $props;
  -webkit-transition: $props;
}

// button {
//   @include transition(visibility 1s);
// }

#logo img {
  @include transition(width 150ms, height 150ms, left 150ms, top 150ms);
}

#intro, .question {
  @include transition(left 0.3s cubic-bezier(0.215, 0.61, 0.355, 1));
}
